<IfModule mod_rewrite.c>
    RewriteEngine On
    # Si la requête ne commence pas déjà par /public/, on redirige
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
