<form method="post" action="{{ path('app_biens_delete', {'id': bien.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bien.id) }}">
    <button class="btn btn-danger btn-sm" type="submit" data-confirm="Êtes-vous sûr de vouloir supprimer ce bien ?">
        <span class="fas fa-trash me-1"></span>Supprimer le bien
    </button>
</form>
